.prop-ext {
  ul {
    list-style-type: none;
  }

  .gf_progressbar {
    display: none;
  }

  .gfield {
    .validation_message {
      font-size: 0.6rem;
      font-style: italic;
    }

    &_label {
      margin: 2rem 0 1rem;
    }

    &_time_hour input,
    &_time_minute input {
      background-color: $light-bluegrey;
      border-radius: 5px;
      font-family: serif;
      padding: 0.5rem;
      border: none;
    }

    &.field_sublabel_below {
      .clear-multi {
        display: flex;

        label {
          display: none;
        }
      }

      .gfield {
        &_label {
          font-weight: bold;
        }

        &_html {
          list-style-type: circle;
        }

        &_description {
          font-size: 0.75rem;
        }
      }
    }

    .ginput {
      &_container {
        &_text input,
        &_website input,
        &_email input,
        &_phone input {
          background-color: $light-bluegrey;
          border: none;
          border-radius: 5px;
          font-family: serif;
          padding: 0.5rem;
        }

        &_date input {
          margin: auto;
          text-align: center;
          background-color: $light-bluegrey;
          border: none;
          padding: 0.5rem;
        }

        &_fileupload {
          padding: 10%;
          display: flex;
          flex-direction: column;
          margin: auto;
          text-align: center;
          background-color: $light-bluegrey;
          border: none;

          input {
            text-align: center;
            margin: auto;
            padding: 0.5rem;
            border-radius: 5px;
            font-family: serif;
            font-size: 1rem;
          }
        }

        &_textarea textarea {
          vertical-align: top;
          overflow: auto;
          border-radius: 0;
          background: $light-bluegrey;
          border: none;
          padding: 0.5rem;
          margin: 1rem 0;
          font-family: $serif;
        }

        &_consent {
          display: flex;

          input {
            min-width: 1rem;
            min-height: 1rem;
            margin: auto 1rem auto auto;
          }
        }
      }
    }
  }

  .gform_page_footer {
    .gform_next_button,
    .gform_previous_button,
    .gform_button {
      font-family: $serif;
      text-transform: uppercase;
      font-size: 1rem;
      border: none;
      border-radius: 0;
      padding: 0.5rem;
      background-color: $dark-bluegrey;
      color: #fff;
      font-weight: bold;
      margin: 1.5rem 0;

      &:hover {
        background-color: $light-bluegrey;
        color: #000;
        cursor: pointer;
      }
    }

    .gform_previous_button {
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }
  }

  .screen-reader-text {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  .gform_validation_container {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    display: none;
  }
}

.ui-datepicker {
  background: #fff;
  border: solid 1px black;

  &-header {
    font-family: $sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
  }

  &-prev,
  &-next {
    font-size: 0.75rem;
    display: inline-flex;
    flex-direction: row;
    width: 50%;
    cursor: pointer;
  }

  &-next {
    justify-content: flex-end;
  }

  &-title {
    text-align: center;

    select {
      font-family: $serif;
      font-weight: bold;
      background-color: $light-bluegrey;
      padding: 0.5rem;
      margin: 0.7rem 0.25rem;
      cursor: pointer;
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }
  }

  &-calendar {
    background-color: $light-bluegrey;
    padding: 0.5rem;
  }
}

.gfield_error input {
  border: solid 2px $purple !important;
}
