
label,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  border-radius: 0;
  box-shadow: none;
  appearance: none !important;
  background-clip: padding-box;
  box-sizing: border-box;
}

input,
textarea {
  box-sizing: content-box;
}

input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px;
}

button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  overflow: visible;
  width: auto;
}

::-webkit-search-decoration {
  display: none;
}

::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}

input:focus {
  outline: 0;
}

textarea {
  vertical-align: top;
  overflow: auto;
}

select {
  box-sizing: border-box;
  border: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

select[multiple] {
  vertical-align: top;
}

* {
  box-sizing: border-box;
  outline: 0;
}

p,
ul {
  margin: 0;
}
