.nav__menu {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: space-between;
  z-index: 999999;
  align-items: center;

  .menu {
    &__title {
      font-size: 0;
    }

    &__list {
      list-style: none;
      display: flex;
      align-items: center;
      margin: 0;

      .menu-item {
        padding: 0 10px;
        text-transform: uppercase;
        font-weight: bold;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }

    &__toggle {
      display: block;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
    }

    &__primary {
      display: none;
    }
  }
}

@media only screen and (min-width: $mobile-breakpoint-width) {
  .nav__menu {
    .menu {
      &__toggle {
        display: none;
      }

      &__primary {
        display: block;
      }
    }
  }
}
