.page {
  &__header {
    background-color: $dark-bluegrey;
    color: white;
    padding: 13rem 0 2rem 0;
    text-align: center;
  }

  &__title {
    font-family: $sans-serif;
    font-size: 5rem;
    text-transform: uppercase;
    margin: 0;
    font-style: italic;
  }

  &__body {
    margin: 5rem 0;
  }

  &__content {
    max-width: 75vw;
    margin: 0 auto;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $sans-serif;
      text-transform: uppercase;
    }
  }
}
