.article--preview {
  margin-bottom: 2rem;

  .article {
    &__link {
      position: relative;
      display: grid;
      grid-template-columns: 6fr 9fr;
      grid-column-gap: 1rem;
      width: 100%;
    }

    &__image-container {
      display: block;
      width: 100%;
      max-width: 100%;
    }

    &__category-date {
      font-weight: bold;
      font-style: italic;
      text-transform: uppercase;
      font-family: $sans-serif;
      padding-left: 1rem;
      font-size: 0.9rem;
      line-height: 1;
      position: relative;
      margin-top: 1rem;

      &::before {
        content: "";
        position: absolute;
        width: 3px;
        height: calc(100% - 2px);
        top: -1px;
        left: 0;
      }
    }

    &__title-container {
      position: inherit;
      bottom: 0;
      margin: 0;
      width: 100%;
      max-width: 100%;
    }

    &__title-inner-container {
      position: relative;
      width: 100%;
    }

    &__title {
      font-family: $sans-serif;
      color: $black;
      text-transform: uppercase;
      font-size: 1.5em;
      margin: 0;
      width: 100%;
      display: block;
      font-weight: 600;
      padding: 1rem 0 0 1rem;
    }
  }
}

.preview {
  &--news {
    .article__title-inner-container {
      &::before {
        background-color: $red;
      }

      &::after {
        background-color: $red;
      }
    }

    .article__category-date {
      &::before {
        background-color: $red;
      }
    }
  }

  &--videos {
    .article__title-inner-container {
      &::before {
        background-color: $azur;
      }

      &::after {
        background-color: $azur;
      }
    }

    .article__category-date {
      &::before {
        background-color: $azur;
      }
    }
  }

  &--longs-formats {
    .article__title-inner-container {
      &::before {
        background-color: $orange;
      }

      &::after {
        background-color: $orange;
      }
    }

    .article__category-date {
      &::before {
        background-color: $orange;
      }
    }
  }

  &--chroniques {
    .article__title-inner-container {
      &::before {
        background-color: $purple;
      }

      &::after {
        background-color: $purple;
      }
    }

    .article__category-date {
      &::before {
        background-color: $purple;
      }
    }
  }

  &--sorties {
    .article__title-inner-container {
      &::before {
        background-color: $green;
      }

      &::after {
        background-color: $green;
      }
    }

    .article__category-date {
      &::before {
        background-color: $green;
      }
    }
  }

  &--playlists {
    .article__title-inner-container {
      &::before {
        background-color: $marine;
      }

      &::after {
        background-color: $marine;
      }
    }

    .article__category-date {
      &::before {
        background-color: $marine;
      }
    }
  }
}

.longform {
  .preview--longs-formats {
    .article {
      &__link {
        position: relative;
        display: block;
      }

      &__category-date {
        position: absolute;
        color: white;
        font-weight: bold;
        font-style: italic;
        text-transform: uppercase;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        font-family: $sans-serif;
        top: -4rem;
        font-size: 1rem;
        padding-left: 0;
        border-left: 0;
        margin-top: 0;

        &::before {
          content: none;
        }
      }

      &__title-container {
        position: absolute;
        text-align: center;
        left: 50%;
        transform: translate(-50%, 0.5rem);
        bottom: 0;
        margin: 0;
        width: fit-content;
        max-width: calc(100% - 4rem);
      }

      &__title-inner-container {
        position: relative;
        width: 100%;

        &::before {
          content: "";
          position: absolute;
          left: -1rem;
          width: calc(100% + 1.85rem);
          height: 100%;
          z-index: -1;
          top: 0.85rem;
          transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1);
          transform: scaleX(1);
          transform-origin: right top;
        }

        &::after {
          content: "";
          position: absolute;
          left: -1rem;
          width: calc(100% + 1.85rem);
          height: 100%;
          z-index: -1;
          top: 0.85rem;
          transition: transform 0.55s cubic-bezier(0.55, 0, 0.1, 1);
          transform: scaleX(0);
          transform-origin: left top;
        }
      }

      &__title {
        font-family: $sans-serif;
        color: white;
        text-transform: uppercase;
        font-size: 1.5em;
        padding: 0.5rem;
        margin: 0;
        font-weight: 600;
        position: absolute;
        width: 100%;
        display: contents;
      }
    }
  }

  .article--preview:hover {
    .article {
      &__image-container::before {
        background-color: rgba(0, 0, 0, 0.4);
      }

      &__title-inner-container {
        position: relative;
        width: 100%;

        &::before {
          content: "";
          position: absolute;
          left: -1rem;
          width: calc(100% + 1.85rem);
          height: 100%;
          z-index: -1;
          top: 0.85rem;
          transform: scaleX(0);
          transform-origin: right top;
        }

        &::after {
          content: "";
          position: absolute;
          left: -1rem;
          width: calc(100% + 1.85rem);
          height: 100%;
          z-index: -1;
          top: 0.85rem;
          transform: scaleX(1);
          transform-origin: left top;
        }
      }
    }
  }
}

.posts-on-top__item,
.posts-list__item {
  &:nth-child(even) {
    .article--preview {
      .article {
        &__link {
          direction: rtl;
          text-align: left;
        }

        &__category-date {
          direction: initial;
        }
      }
    }
  }
}

@media only screen and (min-width: $mobile-breakpoint-width) {
  .longform .preview--longs-formats .article {
    &__title-container {
      max-width: calc(45% - 4rem);
    }

    &__title {
      font-size: 2em;
    }
  }

  .article--preview {
    .article {
      &__image-container::before {
        content: "";
        position: absolute;
        background-color: rgba(0, 0, 0, 0.25);
        transition: background-color 0.35s cubic-bezier(0.55, 0, 0.1, 1);
        z-index: 1;
        height: calc(100% - 3px);
        width: 100%;
      }

      &__link {
        position: relative;
        display: block;
      }

      &__category-date {
        position: absolute;
        color: white;
        font-weight: bold;
        font-style: italic;
        text-transform: uppercase;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        font-family: $sans-serif;
        top: -4rem;
        padding-left: 0;
        border-left: 0;
        margin-top: 0;

        &::before {
          content: none;
        }
      }

      &__title-container {
        position: absolute;
        text-align: center;
        left: 50%;
        transform: translate(-50%, 0.5rem);
        bottom: 0;
        margin: 0;
        width: fit-content;
        max-width: calc(100% - 4rem);
        z-index: 2;
      }

      &__title-inner-container {
        position: relative;
        width: 100%;

        &::before {
          content: "";
          position: absolute;
          left: -1rem;
          width: calc(100% + 1.85rem);
          height: 100%;
          z-index: -1;
          top: 0.85rem;
          transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1);
          transform: scaleX(1);
          transform-origin: right top;
        }

        &::after {
          content: "";
          position: absolute;
          left: -1rem;
          width: calc(100% + 1.85rem);
          height: 100%;
          z-index: -1;
          top: 0.85rem;
          transition: transform 0.55s cubic-bezier(0.55, 0, 0.1, 1);
          transform: scaleX(0);
          transform-origin: left top;
        }
      }

      &__title {
        font-family: $sans-serif;
        color: white;
        text-transform: uppercase;
        font-size: 2em;
        padding: 0.5rem;
        margin: 0;
        position: absolute;
        width: 100%;
        display: contents;
      }
    }
  }

  .article--preview:hover {
    .article {
      &__image-container::before {
        background-color: rgba(0, 0, 0, 0.4);
      }

      &__title-inner-container {
        position: relative;
        width: 100%;

        &::before {
          content: "";
          position: absolute;
          left: -1rem;
          width: calc(100% + 1.85rem);
          height: 100%;
          z-index: -1;
          top: 0.85rem;
          transform: scaleX(0);
          transform-origin: right top;
        }

        &::after {
          content: "";
          position: absolute;
          left: -1rem;
          width: calc(100% + 1.85rem);
          height: 100%;
          z-index: -1;
          top: 0.85rem;
          transform: scaleX(1);
          transform-origin: left top;
        }
      }
    }
  }

  .posts-on-top__item,
  .posts-list__item {
    &:nth-child(even) {
      .article--preview {
        .article {
          &__link {
            direction: inherit;
          }
        }
      }
    }
  }
}

